name: Jest Tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      # Import code into CI
      - name: Checkout code
        uses: actions/checkout@v4

      # Install node.js for speed
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'

      # Install dependencies using clean install (ci)
      - name: Install dependencies
        run: npm ci

      # Run tests
      - name: Run tests
        run: npm test -- --ci